-# the visitor must enter the correct access code
-# before uploading files

.row
  .span12

    %h1 Access Code

    %form.form-horizontal{action: "", method: "GET"}
      %p
        Enter the correct code to upload files.
      .control-group
        %label.control-label(for="password") Access Code
        .controls
          %input(type="text" name="password" id="password")
      .control-group
        %button.btn.btn-primary.controls{type: "submit"}
          Submit
      %span.btn#show_admin_form.float-right.hidden
        %i.icon-wrench.icon-black
        %span Admin

.clearfix
