%h1
  Dropzone
  %small An inbox for your Dropbox

-if !session[:registered] # if the user isn't registered
  %form.form-inline{action: "/", method: "post"}
    %fieldset.control-group{class: @error.nil? || @error.empty? ? "" : "error"}
      .input-prepend
        -if request.host
          %span.add-on #{request.host}/
        %input.span4#username(placeholder="your_username_here" name="username" type="text" value="#{params['username']}")
        -if @require_registration_password
          %input.span4(placeholder="Registration password" name="registration_password" type="text")
      %button.btn.btn-success(type='submit' title="links with Dropbox") link with Dropbox
      %span.help-inline=@error
-else
  %p{style: "color: green"} You're registered!
  %p
    -url = url('/') + session[:username] if session[:username]
    %a{href: url}=url

.row
  .span8
    %p
      By visiting
      -if url
        %a{href: url}your personal Dropzone url,
      -else
        your personal Dropzone,
      non-Dropbox users will be able to upload files straight into a special 'inbox' folder in your Dropbox.
    %p This is also quite handy if you need to send yourself a file from someone else's computer but don't want to log into email or remember a tinyurl.
    %p Public dropzones can be optionally passphrase protected.
