<!DOCTYPE html>
%html
  %head
    %title Dropzone
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="viewport" content="width=device-width")
    %link{rel: "stylesheet", href: url("/css/bootstrap.min.css")}
    %link{rel: "stylesheet", href: url("/css/bootstrap-responsive.min.css")}
    %link{rel: "stylesheet", href: url("/css/jquery.fileupload-ui.css")}
    %link{rel: "stylesheet", href: url("/css/style.css")}
  %body
    .container
      =yield

    %script{src: url("/js/jquery.min.js")}
    %script{src: url("/js/vendor/jquery.ui.widget.js")}
    %script{src: url("/js/jquery.iframe-transport.js")}
    %script{src: url("/js/jquery.fileupload.js")}
    %script{src: url("/js/jquery.fileupload-fp.js")}
    %script{src: url("/js/jquery.fileupload-ui.js")}
    %script{src: url("/js/app.js")}
